# Godot 4+ plugin specific ignores
*.qdr
*autoexec.dat

# Godot 4+ specific ignores
.godot/
.DS_Store
*.import
/addons/gdscript_input_field
/addons/run-configs
/addons/script-ide
/addons/Autoexec
/addons/Todo_Manager
/addons/discord-sdk-gd
