# Godot 4+ plugin specific ignores
*.qdr
*autoexec.dat

# Godot 4+ specific ignores
.godot/
.DS_Store
/addons/gdscript_input_field
/addons/run-configs
/addons/script-ide
/addons/Autoexec
/sprites/Island/*.import
